// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.

#grid {
  float: right;
  width: 90%;
  position: relative;
  .measures {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    .measure {
      width: 6.25%;
      height: 100%;
      float: right;
      border-right: 1px dashed grey;
      margin-right: -1px;
    }
  }
  ul.notes {
    position: relative;
    width: 100%;
    height: 100%;
    li.note {
      position: absolute;
      left: 20%;
      top: 11%;
      height: 78%;
      width: 30%;
      background-color: blue;
    }
  }
}
#keyboard {
  width: 10%;
  li {
    opacity: 1;
    &.sharp {
      color: white;
      background-color: black;
    }
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.row {
  border-top: 1px solid;
  border-left: 1px solid;
  height: 25px;
}

.sharp {
  background-color: #CCC;
  opacity: 0.5;
}
