table {
  width: 100%;
  border-spacing: 0px;
}
thead th {
  width: 5%;
}
td {
  border-top: solid black 1px;
  border-right: solid black 1px;
}
td a {
  display: block;
  width: 100%;
  text-decoration: none;
}
