<section id='songs'>
  <ul>
    {{#each model}}
    <li>
      <button {{action 'removeSong' this }}>-</button>
      <button {{action 'sendToServer' this }}>&uparrow;</button>
      {{#link-to 'song' id }}
        {{id}}
      {{/link-to}}
    </li>
    {{/each}}
  </ul>
  <button {{action 'addSong' }}>+</button>
</section>
