<section id='parts'>
  <ul>
    {{#each row in rows}}
      <li>
        <ul class='part-row'>
          {{#each row}}
            <li {{bind-attr class="isMuted:mute :part"}}>
              {{render 'parts/summary' . }}
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</section>
