<section id='parts'>
  <ul>
    {{#each parts}}
      {{#if placeholder }}
        <li {{action 'addPart' name }} class='empty'></li>
      {{else}}
        <li {{bind-attr class="isMuted:mute :part"}}>
          {{render 'parts/summary' this }}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</section>
