<section id='parts'>
  <ul>
    {{#each row in rows}}
      <li>
        <ul class='part-row'>
          {{#each part in row}}
            {{#if part.placeholder }}
              <li {{action 'addPart' part.name }} class='empty'></li>
            {{else}}
              <li {{bind-attr class="part.isMuted:mute :part"}}>
                {{render 'parts/summary' part }}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</section>
