<section id='parts'>
  <ul>
    {{#each part in parts}}
      {{#if part.placeholder }}
        <li {{action 'addPart' part.name }} class='empty'></li>
      {{else}}
        <li {{bind-attr class="part.isMuted:mute :part"}}>
          {{render 'parts/summary' part }}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</section>
