{{#each synthesizer in synthesizers }}
  {{render 'synthesizer' synthesizer }}
{{/each}}
<button {{action 'addInstrument' 'synthesizers' }}>+ synth</button>
{{#each midiInstrument in midiInstruments }}
  {{render 'midiInstrument' midiInstrument }}
{{/each}}
<button {{action 'addInstrument' 'midiInstruments' }}>+ midi</button>
