<header>
  <dl>
    <dt><label for='tempo'>Tempo</label></dt>
    <dd>
      {{view 'number' min=0 max=480 value=tempo}}
    </dd>
  </dl>
  {{render 'transport' }}
  <ul>
    <li>{{#link-to 'parts' }}Parts{{/link-to}}</li>
    <li><button {{action 'commit' }} >Commit</button></li>
  </ul>
</header>
{{outlet}}
