<header>
  <dl>
    <dt><label for='tempo'>Tempo</label></dt>
    <dd>
      {{number-input min=0 max=480 value=tempo action='setTempo' id='tempo'}}
    </dd>
  </dl>
  {{render 'transport' }}
  <ul>
    <li>{{#link-to 'parts' }}Parts{{/link-to}}</li>
  </ul>
</header>
{{outlet}}
