<header>
  <h1>Sequencer</h1>
</header>

<section class="controls">
  <h2>Sequence</h2>
  {{#link-to 'parts' class="parts"}}Parts{{/link-to}}
  <article>
    <dl>
      <dt><label for='tempo'>Tempo</label></dt>
      <dd>
        {{view 'number' min=0 max=480 value=tempo}}
      </dd>
      {{outlet part-controls}}
    </dl>

    {{render 'transport' }}
  </article>
</section>
{{outlet}}
