{{#if showHelp}}
<div class='overlay'>
 <div class='modal'>
 <pre>
  HELP
  --------------------------------

  ? - toggle help

  Part Commands
  -------------
  q w e r
  a s d f

  Those are the parts that can be used
  as modifiers to these commands. The
  current part is implied if no part
  is given.

  t - goto summary
  g - goto specific part
  b - change beats for specific part
  x - change quant for specific part
  n - change volume for specific part
  m - toggle mute for specified part
  o - mute every part but the specified part
  M - mute all parts
  O - unmute all parts

  Note Commands
  -------------

  c - create note
  backspace - remove selected notes
  shift+left - shorten selected note
  shift+right - extend selected note
  left - move selected note left
  right - move selected note right
  up - move selected note up
  down - move selected note down

 </pre>
 </div>
</div>
{{/if}}
