<header>
  <dl>
    <dt><label for='tempo'>Tempo</label></dt>
    <dd>{{view Seq25.TempoView min=0 max=480 value=tempo id='tempo'}}</dd>
  </dl>
  <section id='transport'>
    <button id='rewind'></button>
    <button id='play'></button>
  </section>
</header
<section id='piano-roll'>
  <section id='grid'>
    <div id='play-bar'></div>
    <div class='measures'>
      {{#each beat in beats}}
        <div class='measure'></div>
      {{/each}}
    </div>
    <ul>
      {{#each pitch in pitches}}
      <li {{bind-attr class="isSharp:sharp :row"}}>
        {{note-list content=pitch.notes}}
      </li>
      {{/each}}
    </ul>
  </section>
  <ul id='keyboard'>
    {{#each pitch in pitches}}
      {{#piano-key}}
        {{name}}
      {{/piano-key}}
    {{/each}}
  </ul>
</section>
