<section id='piano-roll'>
  <section id='grid'>
    <div class='measures'>
      {{#each beat in beats}}
        <div class='measure'></div>
      {{/each}}
    </div>
    <ul>
      {{#each pitch in pitches}}
      <li {{bind-attr class="isSharp:sharp :row"}}>
        <ul class='notes'>
          <li class='note'>&nbsp;</li>
        </ul>
      </li>
      {{/each}}
    </ul>
  </section>
  <ul id='keyboard'>
    {{#each pitch in pitches}}
      {{#piano-key class=isSharp:sharp}}
        {{name}}
      {{/piano-key}}
    {{/each}}
  </ul>
</section>
