<dt>
  <label for='beats'>Beats</label>
</dt>
<dd>
  {{view 'number' min=1 max=32 id='beats' value=beat_count}}
</dd>
<dt>
  <label for='quant'>Quant</label>
</dt>
<dd>
  {{view 'number' min=0 max=TICKS_PER_BEAT id='quant' value=quant}}
</dd>
<dt>
  {{#link-to 'part.instruments' model }}
  &downarrow;
  &downarrow;
  &downarrow;
  {{/link-to}}
  {{#link-to 'part' model }}
  &uparrow;
  &uparrow;
  &uparrow;
  {{/link-to}}
</dt>
