<section id='piano-roll'>
  <section id='grid'>
    <div {{bind-attr style=playBarStyle}} class='play-bar'></div>
    {{beat-list content=beats}}
    <ul>
      {{#each pitch in pitches}}
        {{render 'pitch' pitch}}
      {{/each}}
    </ul>
  </section>
  <ul id='keyboard'>
    {{#each pitch in pitches}}
      {{#render 'piano-key' pitch}}
        {{name}}
      {{/render}}
    {{/each}}
  </ul>
</section>